<div class="navbar-site">
    <nav id="nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-5 block-center">
                    <div class="logo">
                        <img class="" src="img/logo.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 hidden-mob block-center">
                    <div class="description">
                        лучшее о маркетинге со всех уголков планеты
                    </div>
                </div>
                <div class="col-md-5 col-7 block-center block-right">

                    <div class="navbar-site__right">
                        <div class="search">

                            <form action="">
                                <button type="submit"><i class="fa fa-search"></i></button>
                                <input type="text" placeholder="поиск">
                            </form>

                        </div>
                        <div class="profile">
                            <div class="profile__icon">
                                <i class="fa fa-user"></i>
                                <div class="profile__icon--toolbar">Профиль</div>
                            </div>
                            <div class="profile__modal">
                                <div class="profile__modal--tabs">
                                    <ul>
                                        <li class="active"><a href="#">Вход</a></li>
                                        <li><a href="#">Регистрация</a></li>
                                    </ul>
                                </div>
                                <div class="auth">
                                    <form action="">
                                        <input type="text" placeholder="USERNAME">
                                        <input type="text" placeholder="PASSWORD">
                                        <button type="submit">Вход</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="btn-menu"><i class="fa fa-bars"></i></div>
    </nav>
</div>