<div id="popular">
    <div class="post blue">
        <a href="#">
            <div class="post__inner">
                <div class="post__title">5 трендов Инстаграма и ВКонтакте</div>
                <div class="post__views"><i class="fa fa-eye"></i> 2333</div>
                <div class="post__img"><img src="img/post.jpg" alt=""></div>
                <div class="post__hidden"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </a>
    </div>
    <div class="post fiolet">
        <a href="#">
            <div class="post__inner">
                <div class="post__title">5 трендов Инстаграма и ВКонтакте</div>
                <div class="post__views"><i class="fa fa-eye"></i> 2333</div>
                <div class="post__img"><img src="img/post.jpg" alt=""></div>
                <div class="post__hidden"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </a>
    </div>
    <div class="post red">
        <a href="#">
            <div class="post__inner">
                <div class="post__title">5 трендов Инстаграма и ВКонтакте</div>
                <div class="post__views"><i class="fa fa-eye"></i> 2333</div>
                <div class="post__img"><img src="img/post.jpg" alt=""></div>
                <div class="post__hidden"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </a>
    </div>
    <div class="post pink">
        <a href="#">
            <div class="post__inner">
                <div class="post__title">5 трендов Инстаграма и ВКонтакте</div>
                <div class="post__views"><i class="fa fa-eye"></i> 2333</div>
                <div class="post__img"><img src="img/post.jpg" alt=""></div>
                <div class="post__hidden"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </a>
    </div>
    <div class="post orange">
        <a href="#">
            <div class="post__inner">
                <div class="post__title">5 трендов Инстаграма и ВКонтакте</div>
                <div class="post__views"><i class="fa fa-eye"></i> 2333</div>
                <div class="post__img"><img src="img/post.jpg" alt=""></div>
                <div class="post__hidden"><i class="fa fa-long-arrow-right"></i></div>
            </div>
        </a>
    </div>
</div>