<div class="sidebar">
	<div class="btn-menu"><i class="fa fa-bars"></i></div>
	<a class="new_posts"><span>16</span> новых статей <i class="fa fa-arrow-right"></i></a>
	
	<div class="sidebar__title">Темы</div>

	<ul>
		<li class="fiolet">
			<span>Новости</span>

			<ul class="sub-menu">
				<li><a href="#">АГЕНТСТВА</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗНЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
		<li class="red">
			<span>Маркетинг</span>
			<ul class="sub-menu">
				<li><a href="#">АГЕНТСТВА23</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗНЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
		<li class="blue">
			<span>Контент</span>
			<ul class="sub-menu">
				<li><a href="#">АГЕНТСТВА33</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗНЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
		<li class="yellow">
			<span>Соцсети</span>
			<ul class="sub-menu">
				<li><a href="#">АГЕНТСТВ333А</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗНЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
		<li class="turq">
			<span>Юзабилити</span>
			<ul class="sub-menu">
				<li><a href="#">АГЕНТСТВ123123А</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗНЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
		<li class="pink">
			<span>Инфографика</span>
			<ul class="sub-menu">
				<li><a href="#">АГЕНТСТВА</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗН123123ЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
		<li class="orange">
			<span>Исследования</span>
			<ul class="sub-menu">
				<li><a href="#">АГЕ123123НТСТВА</a></li>
				<li><a href="#">АНАЛИТИКА</a></li>
				<li><a href="#">БИЗНЕС</a></li>
				<li><a href="#">БРЕНДЫ</a></li>
				<li><a href="#">МЕДИА</a></li>
				<li><a href="#">МИР</a></li>
				<li><a href="#">ПОИСК</a></li>
				<li><a href="#">ПРЕМИИ</a></li>
				<li><a href="#">ПРИЛОЖЕНИЯ</a></li>
				<li><a href="#">РЕЙТИНГИ</a></li>
			</ul>
		</li>
	</ul>

	<div class="sidebar__title">Разделы</div>

	<ul class="sidebar__list--two">
		<li><a href="#">Ресурсы</a></li>
		<li><a href="#">Реклама</a></li>
		<li><a href="#">Еще</a></li>
	</ul>

</div>